@charset "UTF-8";
/*The Usual Suspects*/
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
body {
  height: 100%;
  overflow-x: hidden;
  background: #ffffff;
}
html,
button,
input,
select,
textarea {
  color: #222222;
}
html {
  font-size: 1em;
  line-height: 1.5;
}
html,
body,
p,
a {
  -moz-osx-font-smoothing: grayscale;
}
::-moz-selection {
  background: #214822;
  text-shadow: none;
}
::selection {
  background: #214822;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #222222;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
input {
  outline: none;
}
/*Nested Lists*/
ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}
ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}
ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}
li ol > li {
  margin: 0;
}
li ol > li:before {
  content: counters(item, ".") " ";
}
/* ==========================================================================
   Typography
   ========================================================================== */
/* DEFAULT FONT SETTINGS
  Base 16px, 1.5 line-height = 24px per line */
body,
button,
input,
select,
textarea {
  font: 100%/1.5 Helvetica, Arial, sans-serif;
  *font-size: 1em;
  color: #222222;
}
p,
blockquote,
q,
pre,
address,
hr,
code,
samp,
dl,
ol,
ul,
table,
fieldset,
menu,
img {
  margin: 0 0 1.5em;
  padding: 0;
}
/* TYPOGRAPHY */
/* Composed to a scale of 12px, 14px, 16px, 18px, 21px, 24px, 36px, 48px, 60px and 72px */
p,
a {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
  color: #222222;
  margin: 0;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
h2 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
}
/* 48px / 48px */
h3 {
  font-size: 2em;
  line-height: 1.3333333333333333333333333333333em;
  margin-bottom: 0.6667em;
}
/* 36px / 48px */
h4 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}
/* 24px / 24px */
h5 {
  font-size: 1.3125em;
  line-height: 1.1428571428571428571428571428571em;
  margin-bottom: 1.1428571428571428571428571428571em;
}
/* 21px / 24px */
h6 {
  font-size: 1.125em;
  line-height: 1.3333333333333333333333333333333em;
  margin-bottom: 1.3333333333333333333333333333333em;
}
/* 18px / 24px */
p,
ul,
blockquote,
pre,
td,
th,
label {
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
/* 16px / 24px */
small,
p.small {
  margin: 0;
  font-size: 0.875em;
  line-height: 1.7142857142857142857142857142857em;
  margin-bottom: 1.7142857142857142857142857142857em;
}
/* 14px */
/* TABLES */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
}
th {
  text-align: left;
}
tr,
th,
td {
  padding-right: 1.5em;
  border-bottom: 0 solid #222222;
}
/* LISTS */
ul,
ol {
  list-style-position: inside;
  padding: 0;
}
li ul,
li ol {
  margin: 0 1.5em;
}
/* HYPERLINKS */
a {
  text-decoration: none;
  color: #214822;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 0;
}
a:hover,
a:active {
  outline: none;
}
/* MEDIA */
figure {
  margin: 0;
}
img,
object,
embed,
video {
  max-width: 100%;
  _width: 100%;
}
/* Fluid images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* Improve IE's resizing of images */
svg:not(:root) {
  overflow: hidden;
}
/* Correct IE9 overflow */
/* OTHERS */
strong,
b,
dt {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
var,
address {
  font-style: normal;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* Position 'sub' and 'sup' without affecting line-height */
sup {
  top: -0.5em;
}
/* Move superscripted text up */
sub {
  bottom: -0.25em;
}
/* Move subscripted text down */
/*Animations*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-bg {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.2);
  }
}
@keyframes fade-in-bg {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.2);
  }
}
@-webkit-keyframes reveal-box {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes reveal-box {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
/*Functional CSS*/
.vanilla-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.vanilla-container .vanilla-wrapper {
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform linear 0.25s;
          transition: transform linear 0.25s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.vanilla-container .vanilla-wrapper .vanilla-slide {
  display: inline-block;
  float: left;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}
.vanilla-container .vanilla-controls a:visited {
  color: inherit;
}
/*Branding Styles*/
.vanilla-container {
  height: 100%;
  background: transparent;
  position: relative;
}
.vanilla-container .vanilla-wrapper {
  height: 100%;
}
.vanilla-container .vanilla-wrapper .vanilla-slide {
  height: 100%;
}
.vanilla-container .vanilla-controls {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -2em;
}
.vanilla-container .vanilla-controls .left,
.vanilla-container .vanilla-controls .right {
  text-indent: -1000%;
  position: relative;
  width: 4em;
  height: 4em;
  display: block;
  background: #ffffff;
  border-radius: 8em;
  z-index: 1;
  opacity: 0.5;
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
}
.vanilla-container .vanilla-controls .left:before,
.vanilla-container .vanilla-controls .right:before {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 3px solid #214822;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 1.4em;
  left: 1.4em;
  z-index: 2;
}
.vanilla-container .vanilla-controls .left:hover,
.vanilla-container .vanilla-controls .right:hover {
  opacity: 1;
}
.vanilla-container .vanilla-controls .disabled {
  pointer-events: none;
  opacity: 0;
}
.vanilla-container .vanilla-controls .left {
  float: left;
  margin-left: 3em;
}
.vanilla-container .vanilla-controls .left:before {
  border-top: 0;
  border-right: 0;
  left: 1.6em;
}
.vanilla-container .vanilla-controls .right {
  float: right;
  margin-right: 3em;
}
.vanilla-container .vanilla-controls .right:before {
  border-bottom: 0;
  border-left: 0;
  left: 1.2em;
}
#slide-01 {
  background-image: url('../img/background-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#slide-03 {
  background-image: url('../img/background-02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#slide-04 {
  background-image: url('../img/background-03.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.h-center {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
.h-center .v-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#slide-01 .block {
  display: inline-block;
  margin: 0 auto;
  padding: 3em;
  position: relative;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all ease 0.75s;
          transition: all ease 0.75s;
}
#slide-01 .block span[id^="border-"] {
  background: #fff;
  display: block;
  position: absolute;
  -webkit-transition: all ease 0.75s;
          transition: all ease 0.75s;
}
#slide-01 .block span[id^="border-top"],
#slide-01 .block span[id^="border-bottom"] {
  width: 0%;
  height: 4px;
}
#slide-01 .block span[id^="border-left"],
#slide-01 .block span[id^="border-right"] {
  width: 4px;
  height: 0%;
}
#slide-01 .block #border-top-right {
  top: 0;
  right: 50%;
}
#slide-01 .block #border-bottom-right {
  bottom: 0;
  right: 50%;
}
#slide-01 .block #border-right-top {
  top: 0;
  right: 0;
}
#slide-01 .block #border-right-bottom {
  bottom: 0;
  right: 0;
}
#slide-01 .block #border-top-left {
  top: 0;
  left: 50%;
}
#slide-01 .block #border-bottom-left {
  bottom: 0;
  left: 50%;
}
#slide-01 .block #border-left-top {
  top: 0;
  left: 0;
}
#slide-01 .block #border-left-bottom {
  bottom: 0;
  left: 0;
}
#slide-01 #empty,
#slide-01 #your-mind {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 1;
}
#slide-01 #empty {
  font-size: 700%;
}
#slide-01 #your-mind {
  font-size: 400%;
}
@media (max-width: 640px) {
  #slide-01 #empty {
    font-size: 350%;
  }
  #slide-01 #your-mind {
    font-size: 200%;
  }
}
#slide-01.active .block {
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
#slide-01.active .block span[id^="border-top"],
#slide-01.active .block span[id^="border-bottom"] {
  width: 50%;
  height: 4px;
}
#slide-01.active .block span[id^="border-left"],
#slide-01.active .block span[id^="border-right"] {
  width: 4px;
  height: 50%;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
#slide-02 {
  position: relative;
}
#slide-02 #video {
  max-width: inherit;
  height: 100%;
  width: auto;
}
#slide-02 img {
  display: block;
  position: absolute;
  bottom: 6em;
  left: 5em;
}
@media (max-width: 640px) {
  #slide-02 #video {
    margin-left: -150%;
  }
  #slide-02 img {
    max-width: 320px;
    left: 50%;
    margin-left: -160px;
  }
}
#slide-03 .cloak {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  overflow: hidden;
  display: inline-block;
  padding: 3em 0 2em;
  height: 143px;
  width: 0px;
  -webkit-transition: all ease 0.75s;
          transition: all ease 0.75s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
#slide-03 img {
  margin-bottom: 0;
  max-width: none;
  -webkit-transform: translateX(-250px);
      -ms-transform: translateX(-250px);
          transform: translateX(-250px);
  display: block;
  -webkit-transition: all ease 0.75s;
          transition: all ease 0.75s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
@media (max-width: 640px) {
  #slide-03 .cloak {
    height: 85px;
  }
  #slide-03 img {
    max-width: 300px;
    -webkit-transform: translateX(-160px);
        -ms-transform: translateX(-160px);
            transform: translateX(-160px);
  }
}
#slide-03.active .cloak {
  width: 600px;
}
#slide-03.active img {
  -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
          transform: translateX(50px);
}
@media (max-width: 640px) {
  #slide-03.active .cloak {
    width: 320px;
  }
  #slide-03.active img {
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
  }
}
#slide-04 .h-center {
  height: 50%;
}
#slide-04 .holder {
  max-width: 600px;
  margin: 0 auto;
}
#slide-04 h2 {
  color: #fff;
  font-size: 500%;
  max-width: 600px;
  text-transform: uppercase;
  font-weight: bold;
  white-space: normal;
  margin-bottom: 0;
}
#slide-04 h3 {
  color: #fff;
  font-size: 275%;
  max-width: 600px;
  text-transform: uppercase;
  font-weight: bold;
  white-space: normal;
}
#slide-04 p {
  color: #fff;
  max-width: 400px;
  margin: 0 auto;
  white-space: normal;
  text-align: justify;
  position: relative;
}
#slide-04 p a {
  position: absolute;
  bottom: -1em;
  left: 0;
  width: 100%;
  height: 6em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(95%, #000000));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 95%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 95%);
  text-align: right;
  cursor: pointer;
  z-index: 7;
  color: #FEE0B6;
  -webkit-transition: all ease 0.25s;
          transition: all ease 0.25s;
}
#slide-04 p a span {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
#slide-04 p a:hover {
  height: 9em;
}
