@charset "UTF-8";
/*The Usual Suspects*/
@import 'partials/__colours.less';
@import 'partials/__file-locations.less';
@import 'partials/__base-styles.less';
@import 'partials/__typography.less';



/*Functional CSS*/
// Teh codez that makes it work
.vanilla-container { width: 100%; overflow: hidden; white-space: nowrap;
	.vanilla-wrapper { height: 100%; overflow: hidden; transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 0.25s; backface-visibility: hidden;
		.vanilla-slide {display: inline-block; float: left; backface-visibility: hidden;}
	}
	
	.vanilla-controls {
		a:visited {color: inherit;}
	}
}

/*Branding Styles*/
//Teh codez that makes it pretty
.vanilla-container {height: 100%; background: transparent; position: relative;
	.vanilla-wrapper {height: 100%;
		.vanilla-slide {height: 100%;}
	}
	.vanilla-controls {position: absolute; top: 50%; left: 0; width: 100%; margin-top: -2em;
		.left, .right {text-indent: -1000%; position: relative; width: 4em; height: 4em; display: block; background: @body-bg; border-radius: 8em; z-index: 1; opacity: 0.5; transition:all 0.25s ease;
			&:before {content: ''; display: block; width: 1em; height: 1em; background: transparent; border:3px solid @brand-highlight;  transform:rotate(45deg); position: absolute; top: 1.4em; left: 1.4em; z-index: 2;}
			&:hover {opacity: 1;}
		}

		.left {  float: left; margin-left: 3em;
			&:before{border-top:0; border-right: 0; left: 1.6em;}
		}
		.right { float: right; margin-right: 3em;
			&:before{border-bottom:0; border-left: 0; left: 1.2em;}
		}
	}
}

#slide-01 {background: darken(@brand-highlight, 10%); background-image:url('@{images}/background-01.jpg'); background-size: cover; background-repeat: no-repeat;}
#slide-02 {background: darken(@brand-highlight, 20%); background-image:url('@{images}/background-02.jpg'); background-size: cover; background-repeat: no-repeat;}
#slide-03 {background: darken(@brand-highlight, 30%); background-image:url('@{images}/background-03.jpg'); background-size: cover; background-repeat: no-repeat;}