@charset "UTF-8";
/*The Usual Suspects*/
@import 'partials/__colours.less';
@import 'partials/__file-locations.less';
@import 'partials/__base-styles.less';
@import 'partials/__typography.less';

/*Animations*/
@keyframes fade-in{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fade-in-bg{
	0% {background: rgba(0,0,0,0);}
	100% {background: rgba(0,0,0,0.2);}
}

@keyframes reveal-box{
	0% {width: 0%;}
	100% {width: 50%;}
}


/*Functional CSS*/
// Teh codez that makes it work
.vanilla-container { width: 100%; overflow: hidden; white-space: nowrap;
	.vanilla-wrapper { height: 100%; overflow: hidden; transition: transform linear 0.25s; backface-visibility: hidden;
		.vanilla-slide {display: inline-block; float: left; backface-visibility: hidden; overflow: hidden;}
	}
	
	.vanilla-controls {
		a:visited {color: inherit;}
	}
}

/*Branding Styles*/
//Teh codez that makes it pretty
.vanilla-container {height: 100%; background: transparent; position: relative;
	.vanilla-wrapper {height: 100%;
		.vanilla-slide {height: 100%;}
	}
	.vanilla-controls {position: absolute; top: 50%; left: 0; width: 100%; margin-top: -2em;
		.left, .right {text-indent: -1000%; position: relative; width: 4em; height: 4em; display: block; background: @body-bg; border-radius: 8em; z-index: 1; opacity: 0.5; transition:all 0.25s ease;
			&:before {content: ''; display: block; width: 1em; height: 1em; background: transparent; border:3px solid @brand-highlight;  transform:rotate(45deg); position: absolute; top: 1.4em; left: 1.4em; z-index: 2;}
			&:hover {opacity: 1;}
		}

		.disabled {pointer-events: none; opacity: 0;}

		.left {  float: left; margin-left: 3em;
			&:before{border-top:0; border-right: 0; left: 1.6em;}
		}
		.right { float: right; margin-right: 3em;
			&:before{border-bottom:0; border-left: 0; left: 1.2em;}
		}
	}

	.vanilla-pagination {display: block; width: 100%; position: absolute; bottom: 3em; left: 0; text-align: center;
		span {display: inline-block; width: 1em; height: 1em; background: rgba(255,255,255,0.5); border-radius: 2em; cursor: pointer; transition:all 0.25s ease;
			&:hover {background: rgba(255,255,255,1);}
		}
		span:not(:last-of-type) {margin-right: 0.5em;}
	}
}

// This partial handles things for demo
@import 'partials/__demo.less';
